﻿@model BatApp.Areas.UserAccounts.Models.Company.CompanyViewModel
@using BatApp.Helpers
@{
   ViewBag.Title = "BAT2 WEB - Company Create";
   ViewBag.CurrentPage = "companyPage";
}


@if (ViewBag.Create)
{
   <h2>@Resources.Resources.CreateNewCompany</h2>

   using (Html.BeginForm("Create", "Company", FormMethod.Post, new { @id = "createForm" }))
   {
      @EditName()
   <input type="submit" class="submitBtn" value="@Resources.Resources.CreateBtn" />
   }
}
else
{
   <h2>@Resources.Resources.EditCompany</h2>

   using (Html.BeginForm("Edit", "Company", FormMethod.Post, new { @id = "createForm" }))
   {
      @EditName()
   <input type="submit" class="submitBtn" value="@Resources.Resources.SaveChangesButton" />
   }
}


@if (User.IsInRole(DataModel.Constants.ADMIN))
{
    <div style="padding-top: 15px;">
        @Html.ActionImage("Index", null, "~/Content/images/back.png", "back")
    </div>
}

@helper EditName()
{
   @Html.AntiForgeryToken()
   @Html.ValidationSummary(true, "", new { @class = "alert-danger" })
   @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model =>  model.PreviousUrl)
   <fieldset>
      <legend></legend>
      <div>
         @Html.Label(@Resources.Resources.Company)
      </div>
      <div>
         @Html.EditorFor(model => model.Name)
         @Html.ValidationMessageFor(model => model.Name)
      </div>
   </fieldset>
}