﻿@model BatApp.Areas.UserAccounts.Models.Company.IndexViewModel
@using BatApp.Helpers
@using PagedList.Mvc
@using Resources
@{
   ViewBag.Title = Resources.CompanyTitle;
}
@section styles
{
   @Styles.Render("~/Styles/PagedList")
}

<div class="actionbar">
   <a data-toggle="collapse" data-target="#filterBar">
      <img src='@Url.Content("~/Content/images/filter.png")' alt="@Resources.FilterTitle" title="@Resources.FilterTitle"/>
   </a>
</div>

<div id="filterBar" class="collapse">
   <h2 class="userAccounts">
      @Resources.FindCompany
   </h2>
   @using (Html.BeginForm("Index", "Company", FormMethod.Get, new { @class = "userAccounts-searchForm", role = "form" }))
   {
      <fieldset>
         <label for="search">
            @Resources.SearchCompany
         </label>
         <input type="text" name="search" value="@Model.Search" />
         <input type="submit" value="@Resources.Search" class="submitBtn submitUserAdm" />
      </fieldset>
   }
</div>
<h2>
   @if (!string.IsNullOrWhiteSpace(Model.Search))
   {
      <div>(@Html.ActionLink(Resources.ClearSearch, "Index"))</div>
   }
</h2>
<h2 class="userAccounts">@Resources.CompanyTitle (@Html.ActionLink(Resources.NewCompany, "Create"))</h2>

<p/>

<div class="userAccounts-allUsers">
   @if (Model.Companies != null && Model.Companies.Any())
   {
      <ul class="row-fluid userAccounts userAccounts-users">
         @foreach (var company in Model.Companies)
         {
            <li class="row">
               <div class="span2">
                  @{
                     var companies = company.Id;
                  }

                  <div class="userAccounts-username">@Html.ActionLink(company.Name, "Edit", "Company", new {id = company.Id}, null)</div>
               </div>
               @if (Model.UserCompany != company.Id)
               {
                  <div class="span1">
                     @using (Html.BeginForm("Delete", "Company", new {id = company.Id}))
                     {
                        @Html.ActionImage("Delete", new {id = company.Id}, "~/Content/images/delete.png", "delete")
                     }
                  </div>
               }
            </li>
         }
         <li class="row">@Html.PagedListPager(Model.Companies, page => Url.Action("Index", new { page, search = Model.Search }))</li>
      </ul>
     
   }
   else
   {
      <p>@Resources.NoCompanyInfo</p>
   }
</div>