﻿<table id="statsTable" class="dataTable">
   <thead>
   <tr>
      <th>id</th>
      <th>@Resources.Resources.DateTimeTableTitle</th>
      <th>@Resources.Resources.FlockNameTableTitle</th>
      <th>@Resources.Resources.DayTableTitle</th>
      <th>@Resources.Resources.CountTableTitle</th>
      <th>@Resources.Resources.AverageTableTitle</th>
      <th>@Resources.Resources.GainTableTitle</th>
      <th>@Resources.Resources.StDevTableTitle</th>
      <th>@Resources.Resources.CVTableTitle</th>
      <th>@Resources.Resources.UniformityTableTitle</th>
      <th>@Resources.Resources.TemperatureTableTitle</th>
      <th>@Resources.Resources.CarbonDioxideTableTitle</th>
      <th>@Resources.Resources.AmmoniaTableTitle</th>
      <th>@Resources.Resources.HumidityTableTitle</th>
      <th>@Resources.Resources.SexTableTitle</th>  
      <th>@Resources.Resources.DiffFromCurve</th>
   </tr>
   </thead>
   <tbody></tbody>
</table>
<input type="hidden" id="SexMale" value="@Resources.Resources.SexMale">
<input type="hidden" id="SexFemale" value="@Resources.Resources.SexFemale">