﻿<#@ template language="C#" debug="false" hostspecific="true"#>
<#@ import namespace="System.Resources" #>
<#@ import namespace="System.Text.RegularExpressions" #>
<#@ include file="EF6.Utility.CS.ttinclude"#>
<#@ assembly name="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" #>
<#@ output extension=".cs"#>
<#@ import namespace="Microsoft.VisualStudio.TextTemplating" #>
<#@ import namespace="System.Collections"#>
<#
   const string inputFile = @"..\DataModel\DataModel.edmx";
   var sampleDataProvider = true;
   var implementObservable = true;
   var genenerateValidationAttributes = true;
   var initializeNavigation = true;
   var initializeCollectionNavigation = false;
   var generatePK = false;
   var textTransform = DynamicTextTransformation.Create(this);
   var code = new CodeGenerationTools(this);
   var ef = new MetadataTools(this);
   var typeMapper = new CodeStringGenerator.TypeMapper(code, ef, textTransform.Errors);
   var fileManager = EntityFrameworkTemplateFileManager.Create(this);
   var itemCollection =
      new EdmMetadataLoader(textTransform.Host, textTransform.Errors).CreateEdmItemCollection(inputFile);
   var codeStringGenerator = new CodeStringGenerator(this, code, typeMapper, ef);
   ResXResourceWriter resourceStream;
   String resourcesPath = "";
   try
   {
      resourcesPath = Path.GetDirectoryName(Host.TemplateFile);

      resourcesPath = Path.Combine(resourcesPath, "Properties");
      resourceStream =
         new ResXResourceWriter(Path.Combine(resourcesPath, "Resources.resx"));
      using (
         var permanentResources =
            new ResXResourceReader(Path.Combine(resourcesPath, "PermanentResources.resx")))
      {
         foreach (DictionaryEntry item in permanentResources)
         {
            resourceStream.AddResource(item.Key.ToString(), item.Value);
         }
      }
   }
   catch (Exception ex)
   {
      resourceStream = new ResXResourceWriter(Path.Combine(Path.GetDirectoryName(Host.TemplateFile), "Resources.resx"));
   }

   if (!typeMapper.VerifyCaseInsensitiveTypeUniqueness(typeMapper.GetAllGlobalItems(itemCollection), inputFile))
   {
      return string.Empty;
   }

   WriteHeader(codeStringGenerator, fileManager);
   if (sampleDataProvider)
   {
      codeStringGenerator.ImplementObservable = implementObservable;
      fileManager.StartNewFile("SampleDataProvider.cs");
      BeginNamespace(code);
#>
using Ploeh.AutoFixture;

public static partial class SampleDataProvider
{
      private const int ITEM_COUNT = 5;
      private static readonly Fixture DataGenerator;

      static SampleDataProvider()
      {
         DataGenerator = new Fixture {RepeatCount = ITEM_COUNT};
         DataGenerator.Customize(new MultipleCustomization());
      }
}
<#
      EndNamespace(code);
   }

   foreach (var entity in typeMapper.GetItemsToGenerate<EntityType>(itemCollection))
   {
      var propertiesWithDefaultValues = typeMapper.GetPropertiesWithDefaultValues(entity);
      var collectionNavigationProperties = typeMapper.GetCollectionNavigationProperties(entity);
      var complexProperties = typeMapper.GetComplexProperties(entity);
      var primaryKeys = entity.KeyProperties;
      var navigationProperties = typeMapper.GetNavigationProperties(entity);
      var simpleProperties = typeMapper.GetSimpleProperties(entity).Where(prop => !primaryKeys.Contains(prop));
      var propList = new List<IEnumerable<EdmMember>>
      {
         simpleProperties,
         complexProperties,
         collectionNavigationProperties,
         navigationProperties.Where(prop => !collectionNavigationProperties.Contains(prop))
      };
      if (generatePK && primaryKeys.Any() && entity.BaseType == null)
      {
         propList.Add(primaryKeys);
      }
      if (genenerateValidationAttributes)
      {
         var mem = new List<EdmMember>();
         foreach (var v in propList)
         {
            mem.AddRange(v);
         }
         Metadata(entity, mem, fileManager, codeStringGenerator, resourceStream);
      }

      if (sampleDataProvider)
      {
         SampleDataProvider(entity, fileManager, codeStringGenerator);
      }

      codeStringGenerator.ImplementObservable = implementObservable;
      fileManager.StartNewFile(entity.Name + ".cs");
      BeginNamespace(code);
#> 
<#=
   codeStringGenerator.UsingDirectives(false, entity: entity, includeDataAnnotations: genenerateValidationAttributes)
   #>
<#=codeStringGenerator.Documentation(entity) #>
<#=codeStringGenerator.EntityClassOpening(entity) #>
{
<#

     if (implementObservable)
     {
#>
   <#=codeStringGenerator.Fields(propList) #>
<#
     }
#>
   #region Constructors

   <#=codeStringGenerator.StaticConstructor(entity, genenerateValidationAttributes)
#>
   <#=codeStringGenerator.DocumentationForConstructor(entity) #>
   public <#=code.Escape(entity) #>()
   {
<#
     if (propertiesWithDefaultValues.Any())
     {
        foreach (var edmProperty in propertiesWithDefaultValues)
        {
#>
      this.<#=code.Escape(edmProperty) #> = <#=typeMapper.CreateLiteral(edmProperty.DefaultValue) #>;
<#
        }
     }

        if (initializeCollectionNavigation && collectionNavigationProperties.Any())
        {
           foreach (var navigationProperty in collectionNavigationProperties)
           {
#>
      this.<#=code.Escape(navigationProperty) #> = new HashSet<<#=typeMapper.GetTypeName(navigationProperty.ToEndMember.GetEntityType())
   #>>();
<#
           }
        }

        if (initializeNavigation &&
            navigationProperties.Where(prop => !collectionNavigationProperties.Contains(prop)).Any())
        {
           foreach (
              var navigationProperty in
                 navigationProperties.Where(prop => !collectionNavigationProperties.Contains(prop)))
           {
#>
      this.<#=code.Escape(navigationProperty) #> = new <#=typeMapper.GetTypeName(navigationProperty.ToEndMember.GetEntityType())
   #>();
<#
           }
        }
        if (complexProperties.Any())
        {
           foreach (var complexProperty in complexProperties)
           {
#>
      this.<#=code.Escape(complexProperty) #> = new <#=typeMapper.GetTypeName(complexProperty.TypeUsage) #>();
<#
           }
        }
#>
      AditionalConstructor();
   }

   partial void AditionalConstructor();

   #endregion
<#

   if (generatePK && primaryKeys.Any() && entity.BaseType == null)
   {
#>

   #region Primary keys

<#
      foreach (var key in primaryKeys)
      {
#>
   <#=codeStringGenerator.Property(key, true) #>
<#
      }
#>

   #endregion
<#
   }

     if (simpleProperties.Any())
     {
        foreach (var edmProperty in simpleProperties)
        {
#>
   <#=codeStringGenerator.Property(edmProperty) #>
<#
        }
     }

   if (complexProperties.Any())
   {
#>

<#
      foreach (var complexProperty in complexProperties)
      {
#>
   <#=codeStringGenerator.Property(complexProperty) #>
<#
      }
   }

     if (navigationProperties.Any())
     {
#>

<#
      foreach (var navigationProperty in navigationProperties)
      {
#>
   <#=codeStringGenerator.NavigationProperty(navigationProperty) #>
<#
      }
     }


#>
}
<#
      EndNamespace(code);
   }

foreach (var complex in typeMapper.GetItemsToGenerate<ComplexType>(itemCollection))
{
   var complexProperties = typeMapper.GetComplexProperties(complex);
   var propertiesWithDefaultValues = typeMapper.GetPropertiesWithDefaultValues(complex);
   var simpleProperties = typeMapper.GetSimpleProperties(complex);
   var propList = new List<IEnumerable<EdmMember>>
   {
      simpleProperties,
      complexProperties,
   };
   if (genenerateValidationAttributes)
   {
      var mem = new List<EdmMember>();
      foreach (var v in propList)
      {
         mem.AddRange(v);
      }
      Metadata(complex, mem, fileManager, codeStringGenerator, resourceStream);
   }
   if (sampleDataProvider)
   {
      SampleDataProvider(complex, fileManager, codeStringGenerator);
   }

   fileManager.StartNewFile(complex.Name + ".cs");
   BeginNamespace(code);
#>
<#=
   codeStringGenerator.UsingDirectives(false, false, complex, genenerateValidationAttributes) #>
<#=codeStringGenerator.Documentation(complex) #>
<#=codeStringGenerator.ComplexClassOpening(complex) #>
{
<#   

   if (implementObservable)
   {
#>
   <#=codeStringGenerator.Fields(propList) #>
<#
   }

#>
   <#=codeStringGenerator.StaticConstructor(complex, genenerateValidationAttributes)
   #>
<#
   if (propertiesWithDefaultValues.Any() || complexProperties.Any())
   {
#>
   public <#=code.Escape(complex) #>()
   {
<#
      foreach (var edmProperty in propertiesWithDefaultValues)
      {
#>
      this.<#=code.Escape(edmProperty) #> = <#=typeMapper.CreateLiteral(edmProperty.DefaultValue) #>;
<#
      }

      foreach (var complexProperty in complexProperties)
      {
#>
      this.<#=code.Escape(complexProperty) #> = new <#=typeMapper.GetTypeName(complexProperty.TypeUsage) #>();
<#
      }
#>
   }

<#
   }
   
   if (simpleProperties.Any())
   {
      foreach (var edmProperty in simpleProperties)
      {
#>
   <#=codeStringGenerator.Property(edmProperty) #>
<#
      }
   }

   if (complexProperties.Any())
   {
#>

<#
      foreach (var edmProperty in complexProperties)
      {
#>
   <#=codeStringGenerator.Property(edmProperty) #>
<#
      }
   }
#>
}
<#
   EndNamespace(code);
}

foreach (var enumType in typeMapper.GetEnumItemsToGenerate(itemCollection))
{
   fileManager.StartNewFile(enumType.Name + ".cs");
   BeginNamespace(code);
#>
<#=codeStringGenerator.UsingDirectives(false, false, false) #>
<#=codeStringGenerator.Documentation(enumType) #>
<#
   if (typeMapper.EnumIsFlags(enumType))
   {
#>
[Flags]
<#
   }
#>
<#=codeStringGenerator.EnumOpening(enumType) #>
{
<#
   var foundOne = false;

   foreach (MetadataItem member in typeMapper.GetEnumMembers(enumType))
   {
      foundOne = true;
#>
   <#=code.Escape(typeMapper.GetEnumMemberName(member)) #> = <#=typeMapper.GetEnumMemberValue(member) #>,
<#
   }

   if (foundOne)
   {
      GenerationEnvironment.Remove(GenerationEnvironment.Length - 3, 1);
   }
#>
}
<#
   EndNamespace(code);
}

   fileManager.Process();
   if (resourceStream != null)
   {
      resourceStream.Generate();
      resourceStream.Close();
   }
#>
<#+

public void WriteHeader(CodeStringGenerator codeStringGenerator, EntityFrameworkTemplateFileManager fileManager)
{
   fileManager.StartHeader();
#>
//------------------------------------------------------------------------------
// <auto-generated>
// <#=CodeGenerationTools.GetResourceString("Template_GeneratedCodeCommentLine1")
   #>
//
// <#=CodeGenerationTools.GetResourceString("Template_GeneratedCodeCommentLine2")
   #>
// <#=CodeGenerationTools.GetResourceString("Template_GeneratedCodeCommentLine3")
   #>
// </auto-generated>
//------------------------------------------------------------------------------
<#=codeStringGenerator.UsingDirectives(true, true, false) #>
<#+
   fileManager.EndBlock();
}

public void BeginNamespace(CodeGenerationTools code)
{
   var codeNamespace = code.VsNamespaceSuggestion();
   if (!String.IsNullOrEmpty(codeNamespace))
   {
#>
namespace <#=code.EscapeNamespace(codeNamespace) #>
{
<#+
      PushIndent("   ");
   }
}

public void EndNamespace(CodeGenerationTools code)
{
   if (!String.IsNullOrEmpty(code.VsNamespaceSuggestion()))
   {
      PopIndent();
#>
}
<#+
   }
}

   public void BeginFunction()
   {
      PushIndent("   ");
   }

   public void EndFunction()
   {
      PopIndent();
   }

   public string Indent()
   {
      return CurrentIndent;
   }

   private string WritePropertyErrorMessage(string resourceDescription, string errorMessage,
      CodeStringGenerator generator, IResourceWriter resx)
   {
      if (resx == null)
      {
         return string.Format("ErrorMessage=\"{0}\"", errorMessage);
      }
      resx.AddResource(resourceDescription, errorMessage);
      var propPath = generator.CodeGenerationTools.VsNamespaceSuggestion();
      propPath += ".Properties.Resources";
      return
         String.Format(
            "ErrorMessage=null, ErrorMessageResourceName =\"{0}\", ErrorMessageResourceType = typeof({1})",
            resourceDescription, propPath);
   }

   private void WritePrimitiveTypeProperty(EntityType entity, EdmProperty property, CodeStringGenerator generator,
      ResXResourceWriter resx = null)
   {
      var dataTypeAtt = generator.GetDataTypeAttribute(property);
      if (entity != null && entity.KeyProperties.Contains(property))
      {
#>
     [Key, Editable(false)]
<#+
      }
      else if (!property.Nullable && !generator.EfMetadataTools.ClrType(property.TypeUsage).IsValueType)
      {
#>
     [Required(<#=
   WritePropertyErrorMessage(generator.PropertyName(property) + "Required",
      String.Format("{0} is required", generator.FixName(generator.PropertyName(property))), generator, resx)
   #>)]
<#+
      }
      var MinLength =
         property.TypeUsage.Facets.Any(f => f.Name == "FixedLength" && f.Value != null && f.Value.ToString() == "True");
      var facet = property.TypeUsage.Facets.FirstOrDefault(f => f.Name == "MaxLength" && f.Value != null);
      if (facet != null)
      {
         if (property.Documentation != null && !string.IsNullOrEmpty(property.Documentation.LongDescription))
         {
            var sLength = property.Documentation.LongDescription.Trim();
#>
	  [StringLength(<#=sLength + (MinLength ? string.Format(", MinimumLength = {0}", sLength) : "")
   #>, <#=
   WritePropertyErrorMessage((MinLength ? "Length" : "MaxLength"),
      String.Format("{0} length of {{0}} is {{1}} characters", MinLength ? "Required" : "Maximum"), generator, resx)
   #>)]
<#+
         }
         else if (!facet.IsUnbounded)
         {
#>
	  [StringLength(<#=
   facet.Value + (MinLength ? string.Format(", MinimumLength = {0}", facet.Value) : "") #>, <#=
   WritePropertyErrorMessage((MinLength ? "Length" : "MaxLength"),
      String.Format("{0} length of {{0}} is {{1}} characters", MinLength ? "Required" : "Maximum"), generator, resx)
   #>)]
<#+
         }
      }
     if (property.Documentation != null && !string.IsNullOrEmpty(property.Documentation.LongDescription))
     {
        var rangeDesc = property.Documentation.LongDescription.ToLower();
        var min = "";
        var max = "";
        var minString = "min:";
        var maxString = "max:";
        var containsMin = rangeDesc.Contains(minString);
        var containsMax = rangeDesc.Contains(maxString);
        if (containsMin)
        {
           var from = rangeDesc.IndexOf(minString) + minString.Length;
           var to = containsMax ? rangeDesc.IndexOf(maxString) : rangeDesc.Length;

           min = property.Documentation.LongDescription.Substring(from, to - from).Trim();
           if (!containsMax)
           {
              max = min;
           }
        }
        if (containsMax)
        {
           var from = rangeDesc.IndexOf(maxString) + maxString.Length;
           max = property.Documentation.LongDescription.Substring(from).Trim();
           if (!containsMin)
           {
              min = "0";
           }
        }

        if (!string.IsNullOrEmpty(min) && !string.IsNullOrEmpty(max))
        {
#>	   
     [Range(<#=min #>, <#=max #>, 
       <#=
   WritePropertyErrorMessage(generator.PropertyName(property) + "Range",
      string.Format("{0} must be in range {{0}} - {{1}}", generator.FixName(generator.PropertyName(property))),
      generator, resx) #>)]
<#+
        }
     }

      var propLower = property.Name.ToLower();
      if (propLower.Contains("phone"))
      {
#>
	   [Phone(<#=
   WritePropertyErrorMessage(generator.PropertyName(property) + "Format",
      string.Format("{0} is not valid phone number!", generator.FixName(generator.PropertyName(property))), generator,
      resx) #>)]
<#+
      }
     if (propLower.Contains("email"))
     {
#>
	   [Email(<#=
   WritePropertyErrorMessage(generator.PropertyName(property) + "Format",
      string.Format("{0} is not valid email address!", generator.FixName(generator.PropertyName(property))), generator,
      resx) #>)]
<#+
     }
     if (propLower.EndsWith("url") || propLower.EndsWith("html"))
     {
#>
	   [Url(<#=
   WritePropertyErrorMessage(generator.PropertyName(property) + "Format",
      string.Format("{0} is not valid url address!", generator.FixName(generator.PropertyName(property))), generator,
      resx) #>)]
<#+
     }
     if (propLower.Contains("creditcard"))
     {
#>
	   [CreditCard(<#=
   WritePropertyErrorMessage(generator.PropertyName(property) + "Format",
      string.Format("{0} is not valid credit card number!", generator.FixName(generator.PropertyName(property))),
      generator, resx) #>)]
<#+
     }

     if (dataTypeAtt != String.Empty)
     {
#>
     <#=dataTypeAtt #>
<#+
     }		
#>
     [Display(Name = "<#=generator.FixName(generator.PropertyName(property)) #>")]
   	<#=generator.PropertyPrimitive(property) #>

<#+
   }

   private void WriteNavigationTypeProperty(StructuralType entity, NavigationProperty property,
      CodeStringGenerator generator, ResXResourceWriter resx = null)
   {
      if (property.ToEndMember.RelationshipMultiplicity == RelationshipMultiplicity.One)
      {
#>
     [Required(<#=
   WritePropertyErrorMessage(generator.NavigationPropertyName(property) + "Required",
      String.Format("{0} is required", generator.FixName(generator.NavigationPropertyName(property))), generator, resx)
   #>)]
<#+
      }


#>
     <#=generator.NavigationPropertyPrimitive(property) #>

<#+
   }

     public void Metadata(EdmType entity, IEnumerable<EdmMember> props,
        EntityFrameworkTemplateFileManager fileManager, CodeStringGenerator generator, ResXResourceWriter resx = null)
     {
        if (!props.Any())
        {
           return;
        }
        var io = generator.ImplementObservable;
        generator.ImplementObservable = false;
        fileManager.StartNewFile(entity.Name + "Metadata.cs");
        BeginNamespace(generator.CodeGenerationTools);
#>
using System;
using System.ComponentModel.DataAnnotations;
<#+
       if (props.Any(
          prop =>
             prop is NavigationProperty &&
             (prop as NavigationProperty).ToEndMember.RelationshipMultiplicity == RelationshipMultiplicity.Many))
       {
#>using System.Collections.Generic;         
<#+
       }
#>

[MetadataType(typeof(<#=generator.EscapeName(entity.Name) #>Metadata))]
<#+
if (entity is EntityType)
{
#>
<#=generator.EntityClassOpening(entity as EntityType) #>
<#+
}
if (entity is ComplexType)
{
#>
<#=generator.ComplexClassOpening(entity as ComplexType) #>
<#+
}
#>
{
   internal sealed class <#=generator.EscapeName(entity.Name) #>Metadata
	{
   <#+
        var first = true;
        foreach (var property in props.Where(prop => prop is EdmProperty))
        {
           if (first)
           {
              WriteLine(string.Empty);
              first = false;
           }
           WritePrimitiveTypeProperty(entity as EntityType, property as EdmProperty, generator, resx);
        }
        foreach (var navProperty in props.Where(prop => prop is NavigationProperty))
        {
           if (first)
           {
              WriteLine(string.Empty);
              first = false;
           }
           WriteNavigationTypeProperty(entity as StructuralType, navProperty as NavigationProperty, generator, resx);
        }
        #>
	}
}
<#+
        generator.ImplementObservable = io;
        EndNamespace(generator.CodeGenerationTools);
     }


   private void SampleDataProvider(EdmType entity, EntityFrameworkTemplateFileManager fileManager,
      CodeStringGenerator generator)
   {
      var io = generator.ImplementObservable;
      generator.ImplementObservable = false;
      fileManager.StartNewFile(entity.Name + "SampleData.cs");
      BeginNamespace(generator.CodeGenerationTools);
#>
using System.Collections.Generic;
using Ploeh.AutoFixture;

public static partial class SampleDataProvider
{
      public static IEnumerable<<#=generator.EscapeName(entity.Name) #>> Create<#=generator.EscapeName(entity.Name) #>s()
      {
         return DataGenerator.CreateMany<<#=generator.EscapeName(entity.Name) #>>();
      }
}
<#+
      generator.ImplementObservable = io;
      EndNamespace(generator.CodeGenerationTools);
   }

   public const string TEMPLATE_ID = "CSharp_DbContext_Types_EF6";

   public class CodeStringGenerator
   {
      private readonly TextTransformation _tt;
      private readonly CodeGenerationTools _code;
      private readonly TypeMapper _typeMapper;
      private readonly MetadataTools _ef;
      private bool implementObservable;

      public CodeStringGenerator(
         TextTransformation tt,
         CodeGenerationTools code,
         TypeMapper typeMapper,
         MetadataTools ef, bool implementObservable = false)
      {
         ArgumentNotNull(code, "code");
         ArgumentNotNull(typeMapper, "typeMapper");
         ArgumentNotNull(ef, "ef");
         this.implementObservable = implementObservable;
         _tt = tt;
         _code = code;
         _typeMapper = typeMapper;
         _ef = ef;
      }

      public bool ImplementObservable
      {
         get { return implementObservable; }
         set { implementObservable = value; }
      }

      public CodeGenerationTools CodeGenerationTools
      {
         get { return _code; }
      }

      public MetadataTools EfMetadataTools
      {
         get { return _ef; }
      }

      public TypeMapper MapperTypeMapper
      {
         get { return _typeMapper; }
      }

      public string HashCodeOpening()
      {
         return string.Format(
            CultureInfo.InvariantCulture,
            "public override int GetHashCode() {0}{{",
            Environment.NewLine + _tt.CurrentIndent);
      }

      public string HashCodeClosing()
      {
         return string.Format(
            CultureInfo.InvariantCulture,
            "{0}}}",
            Environment.NewLine + _tt.CurrentIndent);
      }

      public string FieldNameForPropertyName(EdmMember member)
      {
         var propertyName = _code.Escape(member);
         var first = propertyName.First().ToString().ToLower();
         var name = first + propertyName.Substring(1);
         return _code.Escape(name);
      }

      public string Setter(EdmMember edmProperty)
      {
         var setter = _code.SpaceAfter(Accessibility.ForSetter(edmProperty)) + "set";
         if (!implementObservable)
         {
            return setter + ";";
         }
         return setter +
                String.Format("{{ SetPropertyAndValidate(ref {0}, value); }}", FieldNameForPropertyName(edmProperty));
      }

      public string Getter(EdmMember edmProperty)
      {
         var getter = _code.SpaceAfter(Accessibility.ForGetter(edmProperty)) + "get";
         if (!implementObservable)
         {
            return getter + ";";
         }
         return getter + String.Format("{{ return {0}; }}", FieldNameForPropertyName(edmProperty));
      }

      public string Fields(IEnumerable<IEnumerable<EdmMember>> members)
      {
         var el = Environment.NewLine + _tt.CurrentIndent;
         var result = "#region Private fields" + el + el;

         result = members.SelectMany(memberCol => memberCol)
            .Aggregate(result, (current, member) => current + Field(member) + el);

         result += el + "#endregion" + el;
         return result;
      }

      public string Field(EdmMember edmProperty)
      {
         var propName = FieldNameForPropertyName(edmProperty);
         var typeName = _typeMapper.GetTypeName(edmProperty.TypeUsage);
         return string.Format(
            CultureInfo.InvariantCulture, "private {0} {1};", typeName, propName);
      }

      public string PropertyName(EdmProperty edmProperty)
      {
         return EscapeName(edmProperty.Name);
      }

      public string EscapeName(string name)
      {
         return _code.Escape(name);
      }

      public string Property(EdmProperty edmProperty, bool keyProperty = false, bool doc = true, bool virt = true)
      {
         var propName = PropertyName(edmProperty);
         var typeName = _typeMapper.GetTypeName(edmProperty.TypeUsage);
         var accessLevel = virt
            ? AccessibilityAndVirtual(Accessibility.ForProperty(edmProperty))
            : Accessibility.ForProperty(edmProperty);
         var docu = doc ? Documentation(edmProperty, true, keyProperty) : "";
         return string.Format(
            CultureInfo.InvariantCulture,
            "{5}{0} {1} {2} {{ {3} {4} }}",
            accessLevel, typeName, propName,
            Getter(edmProperty),
            Setter(edmProperty),
            string.IsNullOrEmpty(docu) ? docu : docu + Environment.NewLine + _tt.CurrentIndent);
      }

      public string NavigationPropertyName(NavigationProperty edmProperty)
      {
         return EscapeName(edmProperty.Name);
      }

      public string PropertyPrimitive(EdmProperty edmProperty)
      {
         return Property(edmProperty, false, false, false);
      }

      public string NavigationProperty(NavigationProperty navProp, bool doc = true, bool virt = true)
      {
         var docu = doc ? Documentation(navProp, true) : "";
         var endType = _typeMapper.GetTypeName(navProp.ToEndMember.GetEntityType());
         var accessLevel = virt
            ? AccessibilityAndVirtual(Accessibility.ForNavigationProperty(navProp))
            : Accessibility.ForNavigationProperty(navProp);

         return string.Format(
            CultureInfo.InvariantCulture,
            "{5}{0} {1} {2} {{ {3} {4} }}",
            accessLevel,
            navProp.ToEndMember.RelationshipMultiplicity == RelationshipMultiplicity.Many
               ? ("ICollection<" + endType + ">")
               : endType,
            NavigationPropertyName(navProp),
            Getter(navProp),
            Setter(navProp),
            string.IsNullOrEmpty(docu) ? docu : docu + Environment.NewLine + _tt.CurrentIndent);
      }

      public string NavigationPropertyPrimitive(NavigationProperty navProp)
      {
         return NavigationProperty(navProp, false, false);
      }

      public string AccessibilityAndVirtual(string accessibility)
      {
         return accessibility + (accessibility != "private" ? " virtual" : "");
      }

      public string EntityClassOpening(EntityType entity)
      {
         var baseType = entity.BaseType == null
            ? (implementObservable ? "RecursiveValidatableObservableObject" : "")
            : _typeMapper.GetTypeName(entity.BaseType);
         return string.Format(
            CultureInfo.InvariantCulture,
            "{0} {1}partial class {2}{3}",
            Accessibility.ForType(entity),
            _code.SpaceAfter(_code.AbstractOption(entity)),
            _code.Escape(entity),
            _code.StringBefore(" : ", baseType));
      }

      public string ComplexClassOpening(ComplexType complex)
      {
         var baseType = complex.BaseType == null
            ? (implementObservable ? "RecursiveValidatableObservableObject" : "")
            : _typeMapper.GetTypeName(complex.BaseType);
         return String.Format(CultureInfo.InvariantCulture,
            "{0} partial class {1}{2}",
            Accessibility.ForType(complex),
            _code.Escape(complex),
            _code.StringBefore(" : ", baseType));
      }

      public string EnumOpening(SimpleType enumType)
      {
         return string.Format(
            CultureInfo.InvariantCulture,
            "{0} enum {1} : {2}",
            Accessibility.ForType(enumType),
            _code.Escape(enumType),
            _code.Escape(_typeMapper.UnderlyingClrType(enumType)));
      }

      public void WriteFunctionParameters(EdmFunction edmFunction, Action<string, string, string, string> writeParameter)
      {
         var parameters = FunctionImportParameter.Create(edmFunction.Parameters, _code, _ef);
         foreach (var parameter in parameters.Where(p => p.NeedsLocalVariable))
         {
            var isNotNull = parameter.IsNullableOfT
               ? parameter.FunctionParameterName + ".HasValue"
               : parameter.FunctionParameterName + " != null";
            var notNullInit = "new ObjectParameter(\"" + parameter.EsqlParameterName + "\", " +
                              parameter.FunctionParameterName + ")";
            var nullInit = "new ObjectParameter(\"" + parameter.EsqlParameterName + "\", typeof(" +
                           TypeMapper.FixNamespaces(parameter.RawClrTypeName) + "))";
            writeParameter(parameter.LocalVariableName, isNotNull, notNullInit, nullInit);
         }
      }

      public string ComposableFunctionMethod(EdmFunction edmFunction, string modelNamespace)
      {
         var parameters = _typeMapper.GetParameters(edmFunction);

         return string.Format(
            CultureInfo.InvariantCulture,
            "{0} IQueryable<{1}> {2}({3})",
            AccessibilityAndVirtual(Accessibility.ForMethod(edmFunction)),
            _typeMapper.GetTypeName(_typeMapper.GetReturnType(edmFunction), modelNamespace),
            _code.Escape(edmFunction),
            string.Join(", ",
               parameters.Select(p => TypeMapper.FixNamespaces(p.FunctionParameterType) + " " + p.FunctionParameterName)
                  .ToArray()));
      }

      public string ComposableCreateQuery(EdmFunction edmFunction, string modelNamespace)
      {
         var parameters = _typeMapper.GetParameters(edmFunction);

         return string.Format(
            CultureInfo.InvariantCulture,
            "return ((IObjectContextAdapter)this).ObjectContext.CreateQuery<{0}>(\"[{1}].[{2}]({3})\"{4});",
            _typeMapper.GetTypeName(_typeMapper.GetReturnType(edmFunction), modelNamespace),
            edmFunction.NamespaceName,
            edmFunction.Name,
            string.Join(", ", parameters.Select(p => "@" + p.EsqlParameterName).ToArray()),
            _code.StringBefore(", ", string.Join(", ", parameters.Select(p => p.ExecuteParameterName).ToArray())));
      }

      public string FunctionMethod(EdmFunction edmFunction, string modelNamespace, bool includeMergeOption)
      {
         var parameters = _typeMapper.GetParameters(edmFunction);
         var returnType = _typeMapper.GetReturnType(edmFunction);

         var paramList = String.Join(", ",
            parameters.Select(p => TypeMapper.FixNamespaces(p.FunctionParameterType) + " " + p.FunctionParameterName)
               .ToArray());
         if (includeMergeOption)
         {
            paramList = _code.StringAfter(paramList, ", ") + "MergeOption mergeOption";
         }

         return string.Format(
            CultureInfo.InvariantCulture,
            "{0} {1} {2}({3})",
            AccessibilityAndVirtual(Accessibility.ForMethod(edmFunction)),
            returnType == null ? "int" : "ObjectResult<" + _typeMapper.GetTypeName(returnType, modelNamespace) + ">",
            _code.Escape(edmFunction),
            paramList);
      }

      public string ExecuteFunction(EdmFunction edmFunction, string modelNamespace, bool includeMergeOption)
      {
         var parameters = _typeMapper.GetParameters(edmFunction);
         var returnType = _typeMapper.GetReturnType(edmFunction);

         var callParams = _code.StringBefore(", ",
            String.Join(", ", parameters.Select(p => p.ExecuteParameterName).ToArray()));
         if (includeMergeOption)
         {
            callParams = ", mergeOption" + callParams;
         }

         return string.Format(
            CultureInfo.InvariantCulture,
            "return ((IObjectContextAdapter)this).ObjectContext.ExecuteFunction{0}(\"{1}\"{2});",
            returnType == null ? "" : "<" + _typeMapper.GetTypeName(returnType, modelNamespace) + ">",
            edmFunction.Name,
            callParams);
      }

      public string UsingDirectives(bool inHeader, bool includeCollections = true, ComplexType entity = null,
         bool includeDataAnnotations = false)
      {
         return UsingDirectives(inHeader, includeCollections, includeDataAnnotations, entity.BaseType == null);
      }

      public string UsingDirectives(bool inHeader, bool includeCollections = true, EntityType entity = null,
         bool includeDataAnnotations = false)
      {
         return UsingDirectives(inHeader, includeCollections, includeDataAnnotations, entity.BaseType == null);
      }

      public string UsingDirectives(bool inHeader, bool includeCollections = true, bool includeDataAnnotations = false,
         bool includeDesktopDomain = true)
      {
         return inHeader == string.IsNullOrEmpty(_code.VsNamespaceSuggestion())
            ? string.Format(
               CultureInfo.InvariantCulture,
               "{1}{2}{3}{4}{0}",
               inHeader ? Environment.NewLine : "",
               UsingDirective("System", inHeader),
               includeCollections ? UsingDirective("System.Collections.Generic", inHeader) : "",
               includeDataAnnotations
                  ? UsingDirective("System.ComponentModel", inHeader) +
                    UsingDirective("System.ComponentModel.DataAnnotations", inHeader)
                  : "",
               includeDesktopDomain && implementObservable ? UsingDirective("Common.Library.Observable", inHeader) : "")
            : "";
      }

      public string UsingDirective(string name, bool inHeader)
      {
         return string.Format(
            CultureInfo.InvariantCulture,
            "{0}using {1};",
            Environment.NewLine,
            name);
      }

      public string DocumentationForConstructor(EntityType entity, bool useCurrentIndent = true)
      {
         if (entity != null &&
             entity.Documentation != null &&
             !entity.Documentation.IsEmpty)
         {
            return String.Format(CultureInfo.InvariantCulture,
               "/// <summary>{0}/// Default constructor, initialize complex properties and collection types. {0}/// </summary>",
               Environment.NewLine + (useCurrentIndent ? _tt.CurrentIndent : ""));
         }
         return "";
      }

      public string Documentation(MetadataItem entity, bool useCurrentIndent = false, bool isEntityPK = false)
      {
         var nlIndent = Environment.NewLine + (useCurrentIndent ? _tt.CurrentIndent : "");
         var textString = "";
         if ((entity != null && entity.Documentation != null && !entity.Documentation.IsEmpty) || isEntityPK)
         {
            textString += "/// <summary>" + nlIndent;
            textString += (entity != null && entity.Documentation != null && !entity.Documentation.IsEmpty)
               ? "/// " + entity.Documentation.Summary + nlIndent
               : "";
            textString += isEntityPK ? "/// This is primary key property!" + nlIndent : "";
            textString += "/// </summary>";
         }

         return textString;
      }


      public string FixName(string propName)
      {
         if (propName.ToLower() == "id")
         {
            propName = propName.Replace("ID", "Id").Replace("iD", "Id").Replace("id", "Id");
         }
         else if (propName.ToLower().EndsWith("id"))
         {
            propName = propName.Replace("Id", "").Replace("ID", "").Replace("iD", "");
         }

         return Regex.Replace(propName, "([A-Z])", " $1", RegexOptions.Compiled).Trim();
      }

      public string GetDataTypeAttribute(EdmProperty property)
      {
         var propLower = property.Name.ToLower();
         if (_ef.ClrType(property.TypeUsage) == typeof (System.DateTime))
         {
            if (propLower.Contains("time") && !propLower.Contains("date"))
            {
               return "[DataType(DataType.Time)]";
            }
            if (propLower.Contains("date") && !propLower.Contains("time"))
            {
               return "[DataType(DataType.Date)]";
            }
            return "[DataType(DataType.DateTime)]";
         }
         if (propLower.Contains("phone"))
         {
            return "[DataType(DataType.PhoneNumber)]";
         }
         if (propLower.Contains("html"))
         {
            return "[DataType(DataType.Html)]";
         }
         if (propLower.Contains("email"))
         {
            return "[DataType(DataType.EmailAddress)]";
         }
         if (propLower.Contains("url"))
         {
            return "[DataType(DataType.Url)]";
         }
         if (propLower.Contains("description"))
         {
            return "[DataType(DataType.MultilineText)]";
         }
         if (propLower.Contains("password"))
         {
            return "[DataType(DataType.Password)]";
         }
         if (propLower.Contains("postal") || propLower.Contains("postcode"))
         {
            return "[DataType(DataType.PostalCode)]";
         }
         if (propLower.Contains("creditcard"))
         {
            return "[DataType(DataType.CreditCard)]";
         }
         return String.Empty;
      }

      public class TypeMapper
      {
         private const string ExternalTypeNameAttributeName =
            @"http://schemas.microsoft.com/ado/2006/04/codegeneration:ExternalTypeName";

         private readonly IList __errors;
         private readonly CodeGenerationTools __code;
         private readonly MetadataTools __ef;

         public TypeMapper(CodeGenerationTools code, MetadataTools ef, IList errors)
         {
            ArgumentNotNull(code, "code");
            ArgumentNotNull(ef, "ef");
            ArgumentNotNull(errors, "errors");

            __code = code;
            __ef = ef;
            __errors = errors;
         }

         public static string FixNamespaces(string typeName)
         {
            return typeName.Replace("System.Data.Spatial.", "System.Data.Entity.Spatial.");
         }

         public string GetTypeName(TypeUsage typeUsage)
         {
            return typeUsage == null ? null : GetTypeName(typeUsage.EdmType, __ef.IsNullable(typeUsage), null);
         }

         public string GetTypeName(EdmType edmType)
         {
            return GetTypeName(edmType, null, null);
         }

         public string GetTypeName(TypeUsage typeUsage, string modelNamespace)
         {
            return typeUsage == null ? null : GetTypeName(typeUsage.EdmType, __ef.IsNullable(typeUsage), modelNamespace);
         }

         public string GetTypeName(EdmType edmType, string modelNamespace)
         {
            return GetTypeName(edmType, null, modelNamespace);
         }

         public string GetTypeName(EdmType edmType, bool? isNullable, string modelNamespace)
         {
            if (edmType == null)
            {
               return null;
            }

            var collectionType = edmType as CollectionType;
            if (collectionType != null)
            {
               return String.Format(CultureInfo.InvariantCulture, "ICollection<{0}>",
                  GetTypeName(collectionType.TypeUsage, modelNamespace));
            }

            var typeName = __code.Escape(edmType.MetadataProperties
               .Where(p => p.Name == ExternalTypeNameAttributeName)
               .Select(p => (string) p.Value)
               .FirstOrDefault())
                           ?? (modelNamespace != null && edmType.NamespaceName != modelNamespace
                              ? __code.CreateFullName(__code.EscapeNamespace(edmType.NamespaceName),
                                 __code.Escape(edmType))
                              : __code.Escape(edmType));

            if (edmType is StructuralType)
            {
               return typeName;
            }

            if (edmType is SimpleType)
            {
               var clrType = UnderlyingClrType(edmType);
               if (!IsEnumType(edmType))
               {
                  typeName = __code.Escape(clrType);
               }

               typeName = FixNamespaces(typeName);

               return clrType.IsValueType && isNullable == true
                  ? String.Format(CultureInfo.InvariantCulture, "Nullable<{0}>", typeName)
                  : typeName;
            }

            throw new ArgumentException("edmType");
         }

         public Type UnderlyingClrType(EdmType edmType)
         {
            ArgumentNotNull(edmType, "edmType");

            var primitiveType = edmType as PrimitiveType;
            if (primitiveType != null)
            {
               return primitiveType.ClrEquivalentType;
            }

            if (IsEnumType(edmType))
            {
               return GetEnumUnderlyingType(edmType).ClrEquivalentType;
            }

            return typeof (object);
         }

         public object GetEnumMemberValue(MetadataItem enumMember)
         {
            ArgumentNotNull(enumMember, "enumMember");

            var valueProperty = enumMember.GetType().GetProperty("Value");
            return valueProperty == null ? null : valueProperty.GetValue(enumMember, null);
         }

         public string GetEnumMemberName(MetadataItem enumMember)
         {
            ArgumentNotNull(enumMember, "enumMember");

            var nameProperty = enumMember.GetType().GetProperty("Name");
            return nameProperty == null ? null : (string) nameProperty.GetValue(enumMember, null);
         }

         public IEnumerable GetEnumMembers(EdmType enumType)
         {
            ArgumentNotNull(enumType, "enumType");

            var membersProperty = enumType.GetType().GetProperty("Members");
            return membersProperty != null
               ? (IEnumerable) membersProperty.GetValue(enumType, null)
               : Enumerable.Empty<MetadataItem>();
         }

         public bool EnumIsFlags(EdmType enumType)
         {
            ArgumentNotNull(enumType, "enumType");

            var isFlagsProperty = enumType.GetType().GetProperty("IsFlags");
            return isFlagsProperty != null && (bool) isFlagsProperty.GetValue(enumType, null);
         }

         public bool IsEnumType(GlobalItem edmType)
         {
            ArgumentNotNull(edmType, "edmType");

            return edmType.GetType().Name == "EnumType";
         }

         public PrimitiveType GetEnumUnderlyingType(EdmType enumType)
         {
            ArgumentNotNull(enumType, "enumType");

            return (PrimitiveType) enumType.GetType().GetProperty("UnderlyingType").GetValue(enumType, null);
         }

         public string CreateLiteral(object value)
         {
            if (value == null || value.GetType() != typeof (TimeSpan))
            {
               return __code.CreateLiteral(value);
            }

            return string.Format(CultureInfo.InvariantCulture, "new TimeSpan({0})", ((TimeSpan) value).Ticks);
         }

         public bool VerifyCaseInsensitiveTypeUniqueness(IEnumerable<string> types, string sourceFile)
         {
            ArgumentNotNull(types, "types");
            ArgumentNotNull(sourceFile, "sourceFile");

            var hash = new HashSet<string>(StringComparer.InvariantCultureIgnoreCase);
            if (types.Any(item => !hash.Add(item)))
            {
               __errors.Add(
                  new CompilerError(sourceFile, -1, -1, "6023",
                     String.Format(CultureInfo.CurrentCulture,
                        CodeGenerationTools.GetResourceString("Template_CaseInsensitiveTypeConflict"))));
               return false;
            }
            return true;
         }

         public IEnumerable<SimpleType> GetEnumItemsToGenerate(IEnumerable<GlobalItem> itemCollection)
         {
            return GetItemsToGenerate<SimpleType>(itemCollection)
               .Where(e => IsEnumType(e));
         }

         public IEnumerable<T> GetItemsToGenerate<T>(IEnumerable<GlobalItem> itemCollection) where T : EdmType
         {
            return itemCollection
               .OfType<T>()
               .Where(i => !i.MetadataProperties.Any(p => p.Name == ExternalTypeNameAttributeName))
               .OrderBy(i => i.Name);
         }

         public IEnumerable<string> GetAllGlobalItems(IEnumerable<GlobalItem> itemCollection)
         {
            return itemCollection
               .Where(i => i is EntityType || i is ComplexType || i is EntityContainer || IsEnumType(i))
               .Select(g => GetGlobalItemName(g));
         }

         public string GetGlobalItemName(GlobalItem item)
         {
            if (item is EdmType)
            {
               return ((EdmType) item).Name;
            }
            return ((EntityContainer) item).Name;
         }

         public IEnumerable<EdmProperty> GetSimpleProperties(EntityType type)
         {
            return type.Properties.Where(p => p.TypeUsage.EdmType is SimpleType && p.DeclaringType == type);
         }

         public IEnumerable<EdmProperty> GetSimpleProperties(ComplexType type)
         {
            return type.Properties.Where(p => p.TypeUsage.EdmType is SimpleType && p.DeclaringType == type);
         }

         public IEnumerable<EdmProperty> GetComplexProperties(EntityType type)
         {
            return type.Properties.Where(p => p.TypeUsage.EdmType is ComplexType && p.DeclaringType == type);
         }

         public IEnumerable<EdmProperty> GetComplexProperties(ComplexType type)
         {
            return type.Properties.Where(p => p.TypeUsage.EdmType is ComplexType && p.DeclaringType == type);
         }

         public IEnumerable<EdmProperty> GetPropertiesWithDefaultValues(EntityType type)
         {
            return
               type.Properties.Where(
                  p => p.TypeUsage.EdmType is SimpleType && p.DeclaringType == type && p.DefaultValue != null);
         }

         public IEnumerable<EdmProperty> GetPropertiesWithDefaultValues(ComplexType type)
         {
            return
               type.Properties.Where(
                  p => p.TypeUsage.EdmType is SimpleType && p.DeclaringType == type && p.DefaultValue != null);
         }

         public IEnumerable<NavigationProperty> GetNavigationProperties(EntityType type)
         {
            return type.NavigationProperties.Where(np => np.DeclaringType == type);
         }

         public IEnumerable<NavigationProperty> GetCollectionNavigationProperties(EntityType type)
         {
            return
               type.NavigationProperties.Where(
                  np =>
                     np.DeclaringType == type &&
                     np.ToEndMember.RelationshipMultiplicity == RelationshipMultiplicity.Many);
         }

         public FunctionParameter GetReturnParameter(EdmFunction edmFunction)
         {
            ArgumentNotNull(edmFunction, "edmFunction");

            var returnParamsProperty = edmFunction.GetType().GetProperty("ReturnParameters");
            return returnParamsProperty == null
               ? edmFunction.ReturnParameter
               : ((IEnumerable<FunctionParameter>) returnParamsProperty.GetValue(edmFunction, null)).FirstOrDefault();
         }

         public bool IsComposable(EdmFunction edmFunction)
         {
            ArgumentNotNull(edmFunction, "edmFunction");

            var isComposableProperty = edmFunction.GetType().GetProperty("IsComposableAttribute");
            return isComposableProperty != null && (bool) isComposableProperty.GetValue(edmFunction, null);
         }

         public IEnumerable<FunctionImportParameter> GetParameters(EdmFunction edmFunction)
         {
            return FunctionImportParameter.Create(edmFunction.Parameters, __code, __ef);
         }

         public TypeUsage GetReturnType(EdmFunction edmFunction)
         {
            var returnParam = GetReturnParameter(edmFunction);
            return returnParam == null ? null : __ef.GetElementType(returnParam.TypeUsage);
         }

         public bool GenerateMergeOptionFunction(EdmFunction edmFunction, bool includeMergeOption)
         {
            var returnType = GetReturnType(edmFunction);
            return !includeMergeOption && returnType != null &&
                   returnType.EdmType.BuiltInTypeKind == BuiltInTypeKind.EntityType;
         }
      }

      public string StaticConstructor(EdmType entity, bool genenerateValidationAttributes)
      {
         var retVal = "";
         if (genenerateValidationAttributes && entity.BaseType == null)
         {
            retVal += String.Format(
               "static {0}(){1}{2}{{" +
               "{1}{2}{2}TypeDescriptor.AddProviderTransparent(" +
               "{1}{2}{2}{2}new AssociatedMetadataTypeTypeDescriptionProvider(" +
               "{1}{2}{2}{2}{2}typeof({0}), typeof({0}Metadata)), typeof({0}));" +
               "{1}{2}}}",
               _code.Escape(entity), Environment.NewLine, _tt.CurrentIndent);
         }
         return retVal;
      }
   }

   public static void ArgumentNotNull<T>(T arg, string name) where T : class
   {
      if (arg == null)
      {
         throw new ArgumentNullException(name);
      }
   }

#>