﻿@model BatApp.Areas.UserAccounts.Models.Manage.EditUserViewModel
@using BatApp.Helpers
@{
   ViewBag.Title = "BAT2 WEB - User Delete";
}

<h3>@Resources.Resources.DeleteUserWarn @Html.DisplayFor(model => model.Username)?</h3>

@using (Html.BeginForm())
{
   <p>
      <input type="submit" class="submitBtn" value="@Resources.Resources.Delete" />
   </p>
}

<div style="padding-top:15px;">
   @Html.ActionImage("Index", null, "~/Content/images/back.png", "back")
</div>
