﻿@using BatApp.Areas.UserAccounts.Helpers
@using PagedList.Mvc
@using BatApp.Helpers
@using Resources
@model BatApp.Areas.UserAccounts.Models.Manage.IndexViewModel
@{
   ViewBag.Title = Resources.UserAdministration;
}

@section styles
{
   @Styles.Render("~/Styles/PagedList")
}

<div class="actionbar">
   <a data-toggle="collapse" data-target="#filterBar">
      <img src='@Url.Content("~/Content/images/filter.png")' alt="@Resources.FilterTitle" title="@Resources.FilterTitle" />
   </a>
</div>

<div id="filterBar" class="collapse">
   <h2 class="userAccounts">
      @Resources.FindUser
      @if (!string.IsNullOrWhiteSpace(Model.Search))
      {
         <div>(@Html.ActionLink(Resources.ClearSearch, "Index"))</div>
      }
   </h2>
   @using (Html.BeginForm("Index", "Manage", FormMethod.Get, new {@class = "userAccounts-searchForm", role = "form"}))
   {
       <fieldset>
           <label for="search">
               @Resources.SearchUser
           </label>
           <input type="text" name="search" value="@Model.Search"/>
           <input type="submit" value="@Resources.Search" class="submitBtn submitUserAdm"/>
       </fieldset>

       if (User.IsInRole(DataModel.Constants.ADMIN))
       {
           <fieldset>
               <label for="company">
                   @Resources.Company
               </label>
               @Html.DropDownListFor(x => x.SelectedCompanies, Model.Companies, Resources.SelectCompany, new {onchange = "$(this.form).submit();"})
           </fieldset>
       }
   }

</div>
<h2>
   @if (!string.IsNullOrWhiteSpace(Model.Search))
   {
      <div>(@Html.ActionLink(Resources.ClearSearch, "Index"))</div>
   }
</h2>

<h2 class="userAccounts">@Resources.Users (@Html.ActionLink(Resources.CreateUser, "CreateUser", "Manage"))</h2>
<div class="userAccounts-allUsers">
   @if (Model.Users != null && Model.Users.Any())
   {
      <ul class="row-fluid userAccounts userAccounts-users">
         @foreach (var user in Model.Users)
         {
            <li class="row">
               <div class="span2">
                  @{
                     var currentUser = user.Id == User.Identity.GetUserId();
                  }
                  @if (currentUser)
                  {
                     <div class="userAccounts-username">@Html.ActionLink(user.UserName, "Index", "Account")</div>
                  }
                  else
                  {
                     <div class="userAccounts-username">@Html.ActionLink(user.UserName, "EditUser", "Manage", new {id = user.Id}, null)</div>
                  }
                  <div class="userAccounts-email"><a href="mailto:@user.Email">@user.Email</a>
                  </div>
               </div>

               @if (!currentUser)
               {
                  <div class="span1">
                     @using (Html.BeginForm("DeleteUser", "Manage", new {id = user.Id}))
                     {
                           @*<input type="submit" class="submitBtn submitUserAdm" value="@Resources.Delete" />*@
                        @Html.ActionImage("Delete", new {id = user.Id}, "~/Content/images/delete.png", "delete")
                     }
                  </div>
               }
               @if (!string.IsNullOrEmpty(user.Comment))
               {
                  <textarea readonly class="userAccounts-comment">@user.Comment</textarea>
               }
            </li>
         }
         <li class="row">@Html.PagedListPager(Model.Users, page => Url.Action("Index", new {page, search = Model.Search, selectedCompanies = Model.SelectedCompanies}))</li>
      </ul>
   }
   else
   {
      <p>@Resources.NoUsersInfo</p>
   }
</div>

@section scripts
{
   @Scripts.Render("~/Areas/UserAccounts/Scripts/Filter.js")
}
