﻿@using System.Globalization
@model BatApp.Areas.UserAccounts.Models.Account.ChangePasswordViewModel
@{
   ViewBag.Title = Resources.Resources.ChangePassword;
}

<h3 class="userAccounts"> @User.Identity.Name : @ViewBag.Title.</h3>
@Resources.Resources.LastChanged @(Model.LastChangedDate.HasValue ? Model.LastChangedDate.Value.ToString("MMMM dd, yyyy h:mm:ss tt", CultureInfo.InvariantCulture) : Resources.Resources.Never)
<hr />
<p class="label-success">@ViewBag.StatusMessage</p>
<div class="container-fluid">
   @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
   {
      @Html.AntiForgeryToken()
      @Html.ValidationSummary(true, "", new {@class = "alert-danger"})
      <div class="row">
         @Html.LabelFor(m => m.OldPassword, new {@class = "span2"})
         <div class="span10">
            @Html.PasswordFor(m => m.OldPassword)
            @Html.ValidationMessageFor(m => m.OldPassword)
         </div>
      </div>
      <div class="row">
         @Html.LabelFor(m => m.NewPassword, new {@class = "span2"})
         <div class="span10">
            @Html.PasswordFor(m => m.NewPassword)
            @Html.ValidationMessageFor(m => m.NewPassword)
         </div>
      </div>
      <div class="row">
         @Html.LabelFor(m => m.ConfirmPassword, new {@class = "span2"})
         <div class="span10">
            @Html.PasswordFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
         </div>
      </div>
      <div class="row">
         <div class="offset2 span10">
            <input type="submit" class="submitBtn submitUserAdm" value="@Resources.Resources.Change" />
            @Html.ActionLink(@Resources.Resources.CancelButton, "Index", "Account", new { type = "submit", @class = "submitBtn submitUserAdm" })
         </div>
      </div>
   }
</div>