﻿<div class="bat2-view-item" data-bind="with: config">
   <table>
      <tr>
         <td style="width: 290px">@Resources.Resources.Bat2MarginAboveFemale:</td>
         <td style="white-space: nowrap;"><input data-bind="value: ScaleConfig.FemaleMarginAbove" name="margin" type="number" style="width: 70px" /> &#37;</td>
      </tr>
      <tr>
         <td>@Resources.Resources.Bat2MarginUnderFemale:</td>
         <td><input data-bind="value: ScaleConfig.FemaleMarginBelow" name="margin" type="number" style="width: 70px" /> &#37;</td>
      </tr>
      <tr>
         <td>@Resources.Resources.Bat2MarginAboveMale:</td>
         <td><input data-bind="value: ScaleConfig.MaleMarginAbove" name="margin" type="number" style="width: 70px" /> &#37;</td>
      </tr>
      <tr>
         <td>@Resources.Resources.Bat2MarginUnderMale:</td>
         <td><input data-bind="value: ScaleConfig.MaleMarginBelow" name="margin" type="number" style="width: 70px" /> &#37;</td>
      </tr>
      <tr>
         <td>@Resources.Resources.Bat2Filter:</td>
         <td><input data-bind="value: ScaleConfig.Filter" name="margin" type="number" style="width: 70px" /></td>
      </tr>
      <tr>
         <td>@Resources.Resources.Bat2Stabilization: <span style="float: right">&plusmn;</span></td>
         <td><input data-bind="value: ScaleConfig.Stabilization" name="margin" type="number" style="width: 70px" /> &#37;</td>
      </tr>
      <tr>
         <td>@Resources.Resources.Bat2StabilizationTime:</td>
         <td><input data-bind="value: ScaleConfig.StabilizationTime" name="margin" type="number" style="width: 70px" /></td>
      </tr>
      <tr>
         <td><input data-bind="checked: ScaleConfig.GainAutomaticMode" type="checkbox" />@Resources.Resources.Bat2UseGain</td>
         <td></td>
      </tr>
      <tr>
         <td>@Resources.Resources.Bat2SaveSample:</td>
         <td style="border: 1px solid gray">
            <div style="margin: 5px">
               <input value="0" data-bind="checked: $parent.scaleSaveUnpon" name="save" type="radio" /> @Resources.Resources.Bat2EnteringScale
               <br />
               <input value="1" data-bind="checked: $parent.scaleSaveUnpon" name="save" type="radio" /> @Resources.Resources.Bat2LeavingScale
               <br />
               <input value="2" data-bind="checked: $parent.scaleSaveUnpon" name="save" type="radio" /> @Resources.Resources.Bat2Both
            </div>
         </td>
      </tr>
      <tr>
         <td>@Resources.Resources.Bat2Units:</td>
         <td style="border: 1px solid gray">
            <div style="margin: 5px">
               <input value="0" data-bind="checked: $parent.scaleUnits" name="units" type="radio" /> kg
               <input value="1" data-bind="checked: $parent.scaleUnits" name="units" type="radio" /> lb
            </div>
         </td>
      </tr>
   </table>
</div>

